// Define variables for your color scheme

// For example:
$pink: #da6e98;
$red: #e36453;
$blue: #32467b;
$yellow: #e9c929;
$orange: #e86e47;
$green: #46b276;
$turquoise: #36abbc;
$gray: #0E0000;
$light-gray: #F4F4F4;
