// Specific CSS for your home-page
// body {
//   background: $light-gray;
// }
body {
  color: $blue;
}
.title h1 {
  text-align: right;
  font-weight: bold;
  span {
    font-size: 130%;
    &.rose {
      color: $pink;
    }
    &.rouge {
      color: $red;
    }
    &.vert {
      color: $green;
    }
    &.turquoise {
      color: $turquoise;
    }
  }
}
#rosace {
  width: 300px;
  object-fit: contain;
  }
#decouvrir {
  overflow: hidden;
  position: relative;
}
#mini_rosace {
    width: 150px;
    object-fit: contain;
    position: absolute;
    right: -60px;
    bottom: 0px;
}
