// Specific CSS for your home-page
// body {
//   background: $light-gray;
// }
body {
  color: $blue;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

#banner {
  background-image: url('enfance_adsea.png');
  background-repeat: no-repeat;
  background-clip: content-box;
  animation: animatedBackground 10s linear infinite alternate;
  padding: 0 15px;
}
.title-home {
  text-align: right;
}
.title h1 {
  font-weight: bold;
  span {
    font-size: 130%;
    &.rose {
      color: $pink;
    }
    &.rouge {
      color: $red;
    }
    &.vert {
      color: $green;
    }
    &.turquoise {
      color: $turquoise;
    }
  }
}
#rosace {
  width: 418px;
  object-fit: contain;
  }
#decouvrir {
  overflow: hidden;
  position: relative;
}
#mini_rosace {
    width: 150px;
    object-fit: contain;
    position: absolute;
    right: -60px;
    bottom: 0px;
}
#rosace-lat {
    width: 300px;
    object-fit: contain;
    position: absolute;
    left: -60px;
    bottom: -80px;
}
#separateur {
  position: sticky;
  bottom: 0vh;
}
h4 {
  color: $green;
}
