#col-droite {
  padding-left: 1%;
  ul {
    list-style: url('jaune_bullet.png');
  }
  h6 {
    font-weight: bold;
  }
}
#col-gauche {
  padding-right: 1%;
  ul {
    list-style: none;
    padding: 0;
  }

}

#mots * {
  font-size: 0.8rem;
}

#poles {
  h1 {
  font-size: 5rem;
  text-align-last: right;
  font-weight: bold;
}
color: white;

.header {
  position: absolute;
}

.separateur {
  background-image: url('separateur.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
}

}

.mo {
  background-color: $turquoise;
  h1 {
      margin-left: 25px;
      margin-right: 50px;
    @media (min-width: 823px) {
      margin-left: -175px;
      margin-right: 100px;
    }

  }
  header > div {
    flex-direction: row-reverse !important;
  }
  .bulle {
    background-image: url('rouge-g.png');
  }
  #pill {
    border-radius: 10% 36% 65% 31%;
    color:$blue;
  }
  ul {
    list-style: url('rouge_bullet.png');
  }

  h3 {
    color: white;
  }

  h4 {
    color: $red;
  }

  .service {
    h4 {
      color: $yellow;
    }
     p {
      color: white;
    }
  }

  .mission {
    color: white;

    ul {
      list-style: url('jaune_bullet.png');

      ul {
        list-style: url('rouge_bullet.png');
      }
    }
  }

}

.isp {
  background: $blue;

  h2 {
    font-size: 4rem;
  }

  .bulle {
    background-image: url('rouge.png');
  }

  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $turquoise;
  }
}

.mna {
  background: $red;

  #pill {
    border-radius: 65% 36% 10% 31%;
    color:$blue;
  }
  h1 {
    color: $yellow;
    font-weight: bold;
  }

  h2 {
    color: $yellow;
    font-size: 4rem;
  }

  .bulle {
    background-image: url('jaune.png');
    margin-left: 2rem !important;
    margin-right: 0rem !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: border-box;
    height: 440px;
    /* width: 400px; */
    text-align: center;
    position: relative;
    bottom: -130px;
    .bulle-text {
      padding-top: 57px;
      color: $red;
    }
  }


  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $red;
  }

  .service {
    color: white;

    h3 {
      color: white;
    }

    ul {
      list-style: url('jaune_bullet.png');

      ul {
        list-style: url('rouge_bullet.png');
      }
    }
  }
}

.rs {
  background: $yellow;

  .bulle {
    background-image: url('rouge.png');
  }

  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $red;
  }
}

.ssi {
  background: $green;

  .bulle {
    background-image: url('bleu.png');
  }

  ul {
    list-style: url('vert_bullet.png');
  }

  h4 {
    color: white;
  }
}

.heb {
  background: $pink;
  header > div {
    flex-direction: row-reverse !important;
  }

  .bulle {
    background-image: url('jaune.png');
    transform: scaleX(-1);
    .bulle-text {
      transform: scaleX(-1);
      color: $primary;
    }
  }
  #pill {
    border-radius: 175% 84% 88% 75%;
    color:$blue;
    text-align: center;
  }

  ul {
    list-style: url('jaune_bullet.png');
  }
  h1 {
    hyphens: auto;
  }

  h4 {
    color: $yellow;
  }
}

// design de la rosace page poles avec chaque bulle

#rosace_poles {
  height: 463px;
  width: 429px;
  position: relative;
  margin: 0 auto;
}

#bulle_mo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
  height: 245px;
  width: 234px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 50%;
  opacity: 0;
  background-image: url('turquoise.png');
  position: absolute;
  top: 0px;
  left: 95px;
  transform: rotate(180deg);
  transition: width 1s, height 1s, ease-in-out 1s, transform 1s;
  &:hover {
    color: white;
    letter-spacing: normal;
    line-height: 80%;
    opacity: 1;
    height: 330px;
    width: 410px;
    transform: rotate(0deg);
  }
  .bulle_text {
    margin-top: 120px;
  }
}

#bulle_mna {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
  height: 245px;
  width: 234px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 50%;
  opacity: 0;
  background-image: url('orange.png');
  position: absolute;
  top: 40px;
  right: 13px;
  transform: rotate(-127deg);
  transition: width 1s, height 1s, ease-in-out 1s, transform 1s;
  &:hover {
    color: white;
    letter-spacing: normal;
    line-height: 90%;
    padding: 93px 63px 0px 70px;
    opacity: 1;
    height: 330px;
    width: 410px;
    transform: rotate(0deg);
  }
}

#bulle_ssi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
  height: 247px;
  width: 235px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 20%;
  opacity: 0;
  background-image: url('vert.png');
  position: absolute;
  top: 171px;
  right: 8px;
  transform: rotate(-53deg);
  transition: width 1s, height 1s, ease-in-out 1s, transform 1s;
  &:hover {
    color: white;
    letter-spacing: normal;
    line-height: 90%;
    padding: 23px 40px 0 40px;
    opacity: 1;
    height: 330px;
    width: 410px;
    transform: rotate(0deg);
  }
  .bulle_text {
    margin-top: 80px;
  }
}

#bulle_heb {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
  height: 264px;
  width: 239px;
  text-align: center;
  letter-spacing: -2px;
  line-height: normal;
  opacity: 0;
  background-image: url('rose.png');
  position: absolute;
  top: 36px;
  left: 8px;
  transform: rotate(126deg);
  transition: width 1s, height 1s, ease-in-out 1s, transform 1s;
  &:hover {
    color: white;
    letter-spacing: normal;
    padding: 23px 40px 0 40px;
    opacity: 1;
    height: 330px;
    width: 410px;
    transform: rotate(0deg);
  }
  .bulle_text {
    margin-top: 120px;
  }
}

#bulle_res {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
    height: 264px;
    width: 242px;
    text-align: center;
    letter-spacing: -2px;
    line-height: normal;
    opacity: 0;
    background-image: url(jaune.png);
    position: absolute;
    top: 168px;
    left: 10px;
  transform: rotate(52deg);
  transition: width 1s, height 1s, ease-in-out 1s, transform 1s;
  &:hover {
    color: white;
    letter-spacing: normal;
    padding: 23px 40px 0 40px;
    opacity: 1;
    height: 330px;
    width: 410px;
    transform: rotate(0deg);
  }
  .bulle_text {
    margin: 90px 30px;
  }
}
