.mo {
  background-color: $turquoise;
  header > div {
    flex-direction: row-reverse !important;
  }

  .bulle {
    background-image: url('orange.png');
  }

  ul {
    list-style: url('rouge_bullet.png');
  }

  h3 {
    color: white;
  }

  h4 {
    color: $red;
  }

  .service {
    h4 {
      color: $yellow;
    }
  }

  .mission {
    color: white;

    ul {
      list-style: url('jaune_bullet.png');

      ul {
        list-style: url('rouge_bullet.png');
      }
    }
  }

}

.isp {
  background: $blue;

  h2 {
    font-size: 4rem;
  }

  .bulle {
    background-image: url('rouge.png');
  }

  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $turquoise;
  }
}

.mna {
  background: $red;

  h2 {
    color: $yellow;
    font-size: 4rem;
  }

  .bulle {
    background-image: url('jaune.png');
    margin-left: 2rem !important;
    margin-right: 0rem !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: border-box;
    height: 440px;
    /* width: 400px; */
    text-align: center;
    position: relative;
    bottom: -130px;
  }

  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $red;
  }

  .service {
    color: white;

    h3 {
      color: $yellow;
    }

    ul {
      list-style: url('jaune_bullet.png');

      ul {
        list-style: url('rouge_bullet.png');
      }
    }
  }
}

.rs {
  background: $yellow;

  .bulle {
    background-image: url('rouge.png');
  }

  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $red;
  }
}

.ssi {
  background: $green;

  .bulle {
    background-image: url('bleu.png');
  }

  ul {
    list-style: url('vert_bullet.png');
  }

  h4 {
    color: white;
  }
}

.heb {
  background: $pink;

  .bulle {
    background-image: url('jaune.png');
  }

  ul {
    list-style: url('jaune_bullet.png');
  }

  h4 {
    color: $red;
  }
}

h2,
.h2 {
  font-size: 5rem;
}

.header {
  position: absolute;
}
