<h1>Poles</h1>
<ol>
  <% @poles.each do |pole| %>
    <li>
      <%= pole.nom %>
      <% pole.services.each do |service| %>
        <p> <%= service.nom %> </p>
      <% end %>
      <% pole.antennes.each do |antenne| %>
        <p> <%= antenne.nom %> </p>
      <% end %>
    </li>
  <% end %>
</ol>
