<div id="banner" class="row">
  <div id="col-title" class="col-12 col-md-6">
    <div class="title title-home">
      <h1><span class="rose">A</span>ssociation<br>
        <span class="vert">D</span>épartementale<br>
        de <span class="rouge">S</span>auvegarde<br>
        de l’<span class="turquoise">E</span>nfance,<br>
        de l’<span class="rose">A</span>dolescence<br>
        et des <span class="vert">A</span>dultes <br>
        en<span></span> difficulté<br>
        du <span class="rouge">V</span>ar</h1>
      <br>
      <br>
    </div>
  </div>
  <div id="decouvrir" class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-around">
    <%= image_tag "rosace.png" , id:"rosace" %>
    <div class="d-flex align-items-center">
      <%= link_to home_path do %>
      <button class="btn btn-secondary btn-lg arondi hvr-pulse">Découvrir</button>
      <% end %>
      <%= image_tag "rosace.png", id:"mini_rosace"%>
    </div>
  </div>
</div>
<div id="separateur">
  <%= image_tag "rosace.png" , id:"rosace-lat" %>
  <div class="col-4 mx-auto text-center">
    <i class="fas fa-angle-double-down animated bounce infinite"></i>
  </div>
</div>
  <div id="indexHF" class="m-3 p-3 text-center">
    <h3>Site en maintenance</h3>

     </div>
</div>
