.bulle {
  margin-left: 6rem !important;
  margin-right: 5rem !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: border-box;
  height: 350px;
  width: 400px;
  text-align: center;
  position: relative;
  bottom: -130px;
}

.bulle-text {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 45px;
  text-align: justify;
  text-align-last: center;
  font-size: 0.9em;
}
